/* COLOUR PALETTE */
$primary: rgb(6, 128, 6);
$secondary: rgb(124, 22, 124);
$danger: rgb(185, 185, 185);
/* $success: rgb(185, 185, 185); */
$success: purple;

/* Background colour */
$white: rgb(238, 238, 238);

/* Navbar colour */
/* $light: rgb(222, 222, 222); */
$light: pink;