/* COLOUR PALETTE */
$primary: #ED8821;
$secondary: rgb(124, 22, 124);
$danger: rgb(185, 185, 185);
/* $success: rgb(185, 185, 185); */
$success: purple;

/* Background colour */
$white: #EDEDED;

/* Navbar colour */
/* $light: rgb(222, 222, 222); */
$light: #EDEDED;
$dark: #DBDBDB;
$info: #4D4D4D;